# Experiment-1
Introduction to python list and dictonary

In [16]:
#1.1Write a Python program that takes a list of integers as input and uses list comprehension to create a new list containing the squares of positive numbers from the input list.
# QUESTION 1 
def square_positive_numbers(nums):
    return [x**2 for x in nums if x > 0]

list_1 = [1, -3, 4, -2, 6]
print("Squares of positive numbers:", square_positive_numbers(list_1))

Squares of positive numbers: [1, 16, 36]

In [18]:
#1.2Write a Python function that takes two lists as input and returns a new list containing only the elements that are common in both lists.
def common_elements(list1, list2):
    result = []
    for item in list1:
        if item in list2:
            result.append(item)
    return result
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

print("Common elements:", common_elements(list1, list2))

Common elements: [3, 4]

In [24]:
#1.3Write a Python function that takes a list as input and returns a new list with duplicate elements removed, while preserving the original order of elements.
def remove_duplicates(lst):
    result = []
    for item in lst:
        if item not in result:
            result.append(item)
    return result

print(remove_duplicates([1, 2, 2, 3, 1, 4]))

[1, 2, 3, 4]

In [30]:
#1.4Write a Python function that takes a list of intervals as input, where each interval is represented as a pair of integers [start, end], and returns a new list of merged intervals
def merge_intervals(intervals):
    intervals.sort()  # Sort based on start time
    merged = []

    for interval in intervals:
        if not merged or merged[-1][1] < interval[0]:
            merged.append(interval)
        else:
            merged[-1][1] = max(merged[-1][1], interval[1])
    return merged
print(merge_intervals([[1,3], [2,6], [8,10], [9,12]]))

[[1, 6], [8, 12]]

In [32]:
#1.5Write a Python function that takes a sorted list of integers and a target integer as input and performs binary search to find the target. Return the index of the target if found, or -1 if it is not present in the list.
def binary_search(arr, target):
    left = 0
    right = len(arr) - 1
    while left <= right:
        mid = (left + right) 
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            left = mid + 1
        else:
            right = mid - 1
    return -1
print(binary_search([1, 3, 5, 7, 9], 5))

2

In [34]:
#1.6Write a Python function that takes a 2D matrix represented as a list of lists and returns the transpose of the matrix.
def transpose(matrix):
    return [[row[i] for row in matrix] for i in range(len(matrix[0]))]
matrix = [[1, 2], [3, 4], [5, 6]]
print(transpose(matrix))

[[1, 3, 5], [2, 4, 6]]

In [42]:
#1.7 Write a python program to take 5 elements as user input and store in to a list and create a 2D list to store the factorial of the list element.  
#Example:  	Input= [8,11,16,12,20]
#Output= [ [1,2,4,8], [1,11], [1,2,4,8,16], [1,2,3,4,6,12], [1,2,4,5,10,20]  ]
def find_factors(n):
    return [i for i in range(1, n+1) if n % i == 0]
nums = []
for _ in range(5):
    num = int(input("Enter number: "))
    nums.append(num)
factor_list = [find_factors(x) for x in nums]
print(factor_list)

Enter number:  7
Enter number:  8
Enter number:  11
Enter number:  16
Enter number:  12

[[1, 7], [1, 2, 4, 8], [1, 11], [1, 2, 4, 8, 16], [1, 2, 3, 4, 6, 12]]

In [46]:
#1.8 Write a program that takes a list of tuples as input. Each tuple in the list represents a student
#name and their corresponding score in a subject. Print the name with descending order of scores.


students = [("Ram", 85), ("Bharat", 78), ("Arjun", 91)]
students.sort(key=lambda x: x[1], reverse=True)
for name, score in students:
    print(name, score)

Arjun 91
Ram 85
Bharat 78

In [48]:
#1.9 Write a python program to take a string as user input. Count of the letters from the string and store it in a dictionary with its frequency.
def count_letters(text):
    freq = {}
    for char in text.lower(): 
        if char.isalpha():    
            if char in freq:
                freq[char] += 1
            else:
                freq[char] = 1
    return freq
input_str = input("Enter a string: ")
result = count_letters(input_str)
print("Letter frequency:", result)

Enter a string:  sradha ram

Letter frequency: {'s': 1, 'r': 2, 'a': 3, 'd': 1, 'h': 1, 'm': 1}

In [50]:
#1.10 Taking a list as input and find the most repeating element and remove the most repeating element and return the list.
def remove_most_repeating(lst):
    freq = {}
    for num in lst:
        if num in freq:
            freq[num] += 1
        else:
            freq[num] = 1
    most_repeating = max(freq, key=freq.get)
    result = [x for x in lst if x != most_repeating]  
    return result
input_list = [4, 5, 7, 4, 4, 8, 7, 5]
print("Result list:", remove_most_repeating(input_list))

Result list: [5, 7, 8, 7, 5]

#  EXPERIMENT-2
Introduction to python libraries (Numpy and Pandas)
2.1 Numpy

In [4]:
#Problem: Given a list of numbers [2, 4, 6, 8, 10, 12, 14, 16], perform the following tasks using NumPy functions:
#Create a NumPy array from the given list
import numpy as np
lst = [2, 4, 6, 8, 10, 12, 14, 16]
arr = np.array(lst)

In [6]:
type(arr)

numpy.ndarray

In [14]:
#Calculate the mean, median, and standard deviation of the array.
mean_arr = np.mean(arr)
median = np.median(arr)
std_dev = np.std(arr)
print(mean_arr)
print(median)
print(std_dev)

9.0
9.0
4.58257569495584

In [16]:
#Reshape the array into a 2x4 matrix.
arr.reshape(2,4)

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16]])

In [20]:
#Calculate the element-wise square root of the array.
arr_sqrt = np.sqrt(arr)
print (arr_sqrt)

[1.41421356 2.         2.44948974 2.82842712 3.16227766 3.46410162
 3.74165739 4.        ]

In [22]:
#Find the index of the maximum element in the array
max_element = np.argmax(arr)
print (max_element)

7

In [ ]:
#Create a new array containing only the elements greater than 8.
greater_than_8 = arr[arr > 8]
print (greater_than_8)

2.2 Pandas:
Consider the following data about employees in a company:
Name	Age	Department	Salary
Alice	28	HR		50000
Bob	22	Engineering	60000
Charlie	35	HR		55000
David	30	Engineering	62000
Eve	25	Finance		45000

In [43]:
#Create a Pandas DataFrame to store the given data
import pandas as pd 
dataf = pd.DataFrame([
    ['Alice', 28, 'HR', 5000],
    ['Bob', 22, 'Engineering', 60000],
    ['Charlie', 35, 'HR', 55000],
    ['David', 30, 'Engineering', 62000],
    ['Eve', 25, 'Finance', 45000]
], columns=['Name', 'Age', 'Department', 'Salary'])
print(dataf)

      Name  Age   Department  Salary
0    Alice   28           HR    5000
1      Bob   22  Engineering   60000
2  Charlie   35           HR   55000
3    David   30  Engineering   62000
4      Eve   25      Finance   45000

In [45]:
#Display the basic information about the DataFrame (e.g., number of rows, columns, data types, and memory usage).
print("Data Frame info")
print(dataf.info())

Data Frame info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Department  5 non-null      object
 3   Salary      5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [47]:
#Calculate the average salary of employees.
avg_salary = dataf['Salary'].mean()
print (avg_salary)

45400.0

In [53]:
#Find the maximum age of employees in the Engineering department.
max_age_eng = dataf[dataf['Department'] == 'Engineering']['Age']
print(max_age_eng)

1    22
3    30
Name: Age, dtype: int64

In [55]:
#Display the names of employees who have a salary greater than 50000.
high_salary_employees = dataf[dataf['Salary'] > 50000]['Name']
print("Employees with Salary > 50000:")
print (high_salary_employees)

Employees with Salary > 50000:
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [57]:
#Add a new employee "Frank" to the DataFrame with Age 40, Department as "Finance," and Salary 55000.
new_employee = pd.DataFrame([['Frank', 40, 'Finance', 55000]], columns=dataf.columns)
dataf = pd.concat([dataf, new_employee], ignore_index=True)
print("After Adding Frank:")
print(dataf)

After Adding Frank:
      Name  Age   Department  Salary
0    Alice   28           HR    5000
1      Bob   22  Engineering   60000
2  Charlie   35           HR   55000
3    David   30  Engineering   62000
4      Eve   25      Finance   45000
5    Frank   40      Finance   55000

In [59]:
#Remove the employee named "Eve" from the DataFrame.
dataf = dataf[dataf['Name'] != 'Eve']
print("After Removing Eve:")
print(dataf)

After Removing Eve:
      Name  Age   Department  Salary
0    Alice   28           HR    5000
1      Bob   22  Engineering   60000
2  Charlie   35           HR   55000
3    David   30  Engineering   62000
5    Frank   40      Finance   55000